body{
  background-color: rgb(241, 240, 240);
}
#navbarNav ul li a{
  color: #fff;
}

.main-heading {
  font-family: 'Croissant One';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 38px;
  letter-spacing: -0.03em;
}

.card-image {
  height: 130px;
  width: 180px;
}

/* footer css */
.footer {
  background-color: #fff;
  color:#000 ;
  padding: 40px 0;
}

.footer .logo {
  max-width: 150px;
}

.footer .tagline {
  margin-top: 10px;
  font-size: 1rem;
}

.footer-heading {
  color: #ff0000;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.footer ul {
  padding-left: 0;
  list-style-type: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #000;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer .footer-bottom {
  border-top: 1px solid #000;
  padding-top: 20px;
  margin-top: 20px;
}

.footer .footer-bottom p,
.footer .footer-bottom ul {
  margin: 0;
}

.footer .footer-bottom ul {
  padding-left: 0;
  list-style-type: none;
}

.footer .footer-bottom ul li {
  display: inline;
  margin-right: 10px;
}

.footer .footer-bottom ul li a {
  color: #000;
  text-decoration: none;
}

.footer .footer-bottom ul li a:hover {
  text-decoration: underline;
}
